@model IEnumerable<LLWP_Core.Models.TActivitydata>
@{
    ViewData["Title"] = "榕沛社區 - 活動總覽";
}

<div class="bar-block">
    <div class="container">
        <a href="javascript:void(0)" class="bar-item actselectbtn tablink testbtn"
           onclick="openClass(event, 'class1')">舉辦中</a>
        <a href="javascript:void(0)" class="bar-item actselectbtn tablink" onclick="openClass(event, 'class2')">申請中活動</a>
        <a href="javascript:void(0)" class="bar-item actselectbtn tablink" onclick="openClass(event, 'class3')">我的活動</a>
        <a href="javascript:void(0)" class="bar-item actselectbtn tablink" onclick="openClass(event, 'class4')">我的購物車</a>
        <a href="javascript:void(0)" class="bar-item actselectbtn tablink" onclick="openClass(event, 'class5')">活動申請</a>
    </div>
</div>

@*活動詳細*@
<button class="btn btn-danger" onclick="shine()" id="shine" style="position:fixed;z-index:1; right:0;top:20%;display:none;width:45px">活動視窗</button>
<div id="activityinside">
</div>
<div class="test">
    <div class="now">
        <!-- 現在活動   -->
        <div id="class1" class="container-fluid  class">
            <div class="actselect2">
                <a href="javascript:void(0)" class="bar-item2 actselectbtn2 tablink2 testbtn2" onclick="openClass2(event, 'class11')"></a>
                @using (Html.BeginForm())
                {
                    <div class="">
                        <form action="#" name="form2" id="form2" method="get" enctype="multipart/form-data">
                            <input type="text" hint="關鍵字" name="txtkeyword" value="" size="7" class="fz125" />
                            <input type="submit" value="搜尋" class="" />
                        </form>
                    </div>
                }
                <div class="actselecttitle2">類別</div>
                <ul class="actselectul2">
                    <li>
                        <a href="javascript:void(0)" class=" bar-item2 actselectbtn2 tablink2  mh11"
                           onclick="openClass2(event, 'class6')">文藝<span style="float: right;">8</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class=" bar-item2 actselectbtn2 tablink2 mh11"
                           onclick="openClass2(event, 'class7')">運動<span style="float: right;">8</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class=" bar-item2 actselectbtn2 tablink2 mh11"
                           onclick="openClass2(event, 'class8')">音樂<span style="float: right;">8</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class=" actselectbtn2 tablink2 mh11"
                           onclick="openClass2(event, 'class9')">寵物<span style="float: right;">4</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class=" actselectbtn2 tablink2 mh11"
                           onclick="openClass2(event, 'class10')">節慶<span style="float: right;">8</span></a>
                    </li>
                </ul>
            </div>
            @*搜尋活動*@
            <div id="class11" class="container-fluid  custom-container-width class2">
                <div class="ulflow" style="display: flex;">
                    <div class="card-group row no-gutters w-100">
                        @foreach (var item in Model)
                        {
                            if (item.FActivityCheck.Equals("是"))
                            {
                                <div class="col-xl-3 col-lg-6 col-sm-12" id="@item.FActivityId">
                                    <div class="card cardstyle mb10">
                                        <img class="card-img-top pic" src="@item.FActivityImages" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.FActivityName)</h5>
                                            <div class="date">@Html.DisplayFor(modelItem => item.FActivityTime)</div>
                                            <span class="organizer">@Html.DisplayFor(modelItem => item.FActivityLocation)</span>
                                            <span>剩餘人次:@Html.DisplayFor(modelItem => item.FActivitypeopleLimit)</span>
                                            <div>
                                                $@Html.DisplayFor(modelItem => item.FActivityPrice)
                                            </div>
                                            <div id="Activity_test">
                                                <button class="btn btn-warning activity_Index_btn open" onclick="actinside(),actbtn()" value="@item.FActivityId" id="@item.FActivityId">詳情</button>
                                                <button class="btn btn-warning activity_Index_btn actadd" onclick="addActivity(),shoppingcartbtn()" id="@item.FActivityId">參加</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else { continue; }
                        }

                    </div>
                </div>
            </div>
        </div>
        <!-- 現在活動文藝   -->
        <div id="class6" class="container-fluid  custom-container-width class2">
            <div class="ulflow" style="display: flex;">
                <div class="card-group row no-gutters">
                    @foreach (var item in Model)
                    {
                        if (item.FActivityCode.Contains("A") && item.FActivityCheck.Equals("是"))
                        {
                            <div class="col-xl-3 col-lg-6 col-sm-12" id="@item.FActivityId">
                                <div class="card cardstyle mb10">
                                    <img class="card-img-top pic" src="@item.FActivityImages" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.FActivityName)</h5>
                                        <div class="date">@Html.DisplayFor(modelItem => item.FActivityTime)</div>
                                        <span class="organizer">@Html.DisplayFor(modelItem => item.FActivityLocation)</span>
                                        <span>剩餘人次:@Html.DisplayFor(modelItem => item.FActivitypeopleLimit)</span>
                                        <div>
                                            $@Html.DisplayFor(modelItem => item.FActivityPrice)
                                        </div>
                                        <div id="Activity_test">
                                            <button class="btn btn-warning activity_Index_btn open" onclick="actinside(),actbtn()" value="@item.FActivityId" id="@item.FActivityId">詳情</button>
                                            <button class="btn btn-warning activity_Index_btn actadd" onclick="addActivity(),shoppingcartbtn()" id="@item.FActivityId">參加</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else { continue; }
                    }
                </div>
            </div>
        </div>
        <!-- 現在活動運動   -->
        <div id="class7" class="container-fluid custom-container-width class2">
            <div class="ulflow" style="display: flex;">
                <div class="card-group row no-gutters">
                    @foreach (var item in Model)
                    {
                        if (item.FActivityCode.Contains("B") && item.FActivityCheck.Equals("是"))
                        {
                            <div class="col-xl-3 col-lg-6 col-sm-12" id="@item.FActivityId">
                                <div class="card cardstyle mb10">
                                    <img class="card-img-top pic" src="@item.FActivityImages" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.FActivityName)</h5>
                                        <div class="date">@Html.DisplayFor(modelItem => item.FActivityTime)</div>
                                        <span class="organizer">@Html.DisplayFor(modelItem => item.FActivityLocation)</span>
                                        <span>剩餘人次:@Html.DisplayFor(modelItem => item.FActivityJoinpeople)</span>
                                        <div>
                                            $@Html.DisplayFor(modelItem => item.FActivityPrice)
                                        </div>
                                        <div id="Activity_test">
                                            <button class="btn btn-warning activity_Index_btn open" onclick="actinside(),actbtn()" value="@item.FActivityId" id="@item.FActivityId">詳情</button>
                                            <button class="btn btn-warning activity_Index_btn actadd" onclick="addActivity(),shoppingcartbtn()" id="@item.FActivityId">參加</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else { continue; }
                    }
                </div>
            </div>
        </div>
        <!-- 現在活動音樂   -->
        <div id="class8" class="container-fluid custom-container-width class2">
            <div class="ulflow" style="display: flex;">
                <div class="card-group row no-gutters">
                    @foreach (var item in Model)
                    {
                        if (item.FActivityCode.Contains("C") && item.FActivityCheck.Equals("是"))
                        {
                            <div class="col-xl-3 col-lg-6 col-sm-12" id="@item.FActivityId">
                                <div class="card cardstyle mb10">
                                    <img class="card-img-top pic" src="@item.FActivityImages" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.FActivityName)</h5>
                                        <div class="date">@Html.DisplayFor(modelItem => item.FActivityTime)</div>
                                        <span class="organizer">@Html.DisplayFor(modelItem => item.FActivityLocation)</span>
                                        <span>剩餘人次:@Html.DisplayFor(modelItem => item.FActivityJoinpeople)</span>
                                        <div>
                                            $@Html.DisplayFor(modelItem => item.FActivityPrice)
                                        </div>
                                        <div id="Activity_test">
                                            <button class="btn btn-warning activity_Index_btn open" onclick="actinside(),actbtn()" value="@item.FActivityId" id="@item.FActivityId">詳情</button>
                                            <button class="btn btn-warning activity_Index_btn actadd" onclick="addActivity(),shoppingcartbtn()" id="@item.FActivityId">參加</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else { continue; }
                    }
                </div>
            </div>
        </div>
        <!-- 現在活動寵物   -->
        <div id="class9" class="container-fluid custom-container-width class2">
            <div class="ulflow" style="display: flex;">
                <div class="card-group row no-gutters">
                    @foreach (var item in Model)
                    {
                        if (item.FActivityCode.Contains("D") && item.FActivityCheck.Equals("是"))
                        {
                            <div class="col-xl-3 col-lg-6 col-sm-12" id="@item.FActivityId">
                                <div class="card cardstyle mb10">
                                    <img class="card-img-top pic" src="@item.FActivityImages" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.FActivityName)</h5>
                                        <div class="date">@Html.DisplayFor(modelItem => item.FActivityTime)</div>
                                        <span class="organizer">@Html.DisplayFor(modelItem => item.FActivityLocation)</span>
                                        <span>剩餘人次:@Html.DisplayFor(modelItem => item.FActivityJoinpeople)</span>
                                        <div>
                                            $@Html.DisplayFor(modelItem => item.FActivityPrice)
                                        </div>
                                        <div id="Activity_test">
                                            <button class="btn btn-warning activity_Index_btn open" onclick="actinside(),actbtn()" value="@item.FActivityId" id="@item.FActivityId">詳情</button>
                                            <button class="btn btn-warning activity_Index_btn actadd" onclick="addActivity(),shoppingcartbtn()" id="@item.FActivityId">參加</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else { continue; }
                    }
                </div>
            </div>
        </div>
        <!-- 現在活動節慶   -->
        <div id="class10" class="container-fluid custom-container-width class2">
            <div class="ulflow" style="display: flex;">
                <div class="card-group row justify-content-between no-gutters">
                    @foreach (var item in Model)
                    {
                        if (item.FActivityCode.Contains("E") && item.FActivityCheck.Equals("是"))
                        {
                            <div class="col-xl-3 col-lg-6 col-sm-12" id="@item.FActivityId">
                                <div class="card cardstyle mb10">
                                    <img class="card-img-top pic" src="@item.FActivityImages" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.FActivityName)</h5>
                                        <div class="date">@Html.DisplayFor(modelItem => item.FActivityTime)</div>
                                        <span class="organizer">@Html.DisplayFor(modelItem => item.FActivityLocation)</span>
                                        <span>剩餘人次:@Html.DisplayFor(modelItem => item.FActivityJoinpeople)</span>
                                        <div>
                                            $@Html.DisplayFor(modelItem => item.FActivityPrice)
                                        </div>
                                        <div id="Activity_test">
                                            <button class="btn btn-warning activity_Index_btn open" onclick="actinside(),actbtn()" value="@item.FActivityId" id="@item.FActivityId">詳情</button>
                                            <button class="btn btn-warning activity_Index_btn actadd" onclick="addActivity(),shoppingcartbtn()" id="@item.FActivityId">參加</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else { continue; }
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- 申請中活動-->
    <div id="class2" class="container-fluid custom-container-width class">
        <div class="card-group row no-gutters">
            @foreach (var item in Model)
            {
                if (item.FActivityCheck.Equals("否"))
                {
                    <div class="col-xl-3 col-lg-6 col-sm-12">
                        <div class="card cardstyle">
                            <img class="card-img-top pic" src="@item.FActivityImages" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.FActivityName)</h5>
                                <div class="date">@Html.DisplayFor(modelItem => item.FActivityTime)</div>
                                <span class="organizer">@Html.DisplayFor(modelItem => item.FActivityLocation)</span>
                                <span>申請進度</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                        管委會
                                    </div>
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                        財委會
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                { continue; }
            }
        </div>
    </div>

    <!-- 我的活動 -->
    <div id="class3" class="container-fluid custom-container-width class">
        <div class="row no-gutters" style="border:#F8B73B 2px solid; background-color: #ffffff;">
            <div class="con col-lg-6">
                <div class="month">
                    <p>2020 年 7 月</p>
                    <div class="week-title">
                        <div class="day-title">星期一</div>
                        <div class="day-title">星期二</div>
                        <div class="day-title">星期三</div>
                        <div class="day-title">星期四</div>
                        <div class="day-title">星期五</div>
                        <div class="day-title">星期六</div>
                        <div class="day-title">星期日</div>
                    </div>
                    <div class="week">
                        <div class="day-none"></div>
                        <div class="day-none"></div>
                        <div class="day">01</div>
                        <div class="day">02</div>
                        <div class="day">03</div>
                        <div class="day">04</div>
                        <div class="day">05</div>
                    </div>
                    <div class="week">
                        <div class="day">06</div>
                        <div class="day">07</div>
                        <div class="day">08</div>
                        <div class="day">09</div>
                        <div class="day">10</div>
                        <div class="day">11</div>
                        <div class="day">12</div>
                    </div>
                    <div class="week">
                        <div class="day">13</div>
                        <div class="day">14</div>
                        <div class="day">15</div>
                        <div class="day">16</div>
                        <div class="day">17</div>
                        <div class="day">18</div>
                        <div class="day">19</div>
                    </div>
                    <div class="week">
                        <div class="day">20</div>
                        <div class="day">21</div>
                        <div class="day">22</div>
                        <div class="day">23</div>
                        <div class="day">24</div>
                        <div class="day">25</div>
                        <div class="day">26</div>
                    </div>
                    <div class="week">
                        <div class="day">27</div>
                        <div class="day">28</div>
                        <div class="day">29</div>
                        <div class="day">30</div>
                        <div class="day">31</div>
                        <div class="day-none"></div>
                        <div class="day-none"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="margin-left:45px">
                <table class="table table-striped " style="margin-top:12%">
                    <thead class="thead-info">
                        <tr class="table-warning">
                            <th scope="col">代號</th>
                            <th scope="col">活動</th>
                            <th scope="col">時間</th>
                            <th scope="col">地點</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <th scope="row">A001</th>
                            <td>草頭娃娃製作</td>
                            <td>2020/07/1</td>
                            <td>活動中心小教室</td>
                            <td><button class="btn btn-warning activity_Index_btn">詳情</button></td>
                        </tr>
                        <tr>
                            <th scope="row">A002</th>
                            <td>戶外寫生</td>
                            <td>2020/7/8</td>
                            <td>大草皮</td>
                            <td><button class="btn btn-warning activity_Index_btn">詳情</button></td>
                        </tr>
                        <tr>
                            <th scope="row">C002</th>
                            <td>古典音樂鑑賞</td>
                            <td>2020/7/22</td>
                            <td>活動中心音樂室</td>
                            <td><button class="btn btn-warning activity_Index_btn">詳情</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 我的購物車 -->
<div id="class4" class="container class" style="display: block;">
    <div class="shoppingcart" style="display: block;">
        <table class="shoppingcart-table" id="shoppingcartadd">
            <tr class="shoppingcart-tr" style="text-align: center;height:80px;">
                <th>活動名稱</th>
                <th>開始日期</th>
                <th>活動價格</th>
                <th></th>
            </tr>

        </table>
        <table class="shoppingcart-table" style="margin-top:-20px;margin-bottom:100px">
            <tr class="">
                <td colspan="4" style="text-align:center;height:100px">
                    <button class="btn btn-danger fz15">清空</button>
                    <a href="/Activity/actshoppingcart">
                        <button class="btn btn-warning fz15" onclick="Checkout()"> 結帳</button>
                    </a>
                </td>
            </tr>
        </table>

    </div>

</div>


<!-- 活動申請 -->
<div id="class5" class="class container">
    <div class="formclub mt5">
        <form action="#" name="form1" id="form1" method="post" enctype="multipart/form-data" class="mt2 mb10">
            <fieldset>
                <div class="st1">
                    <label class="t1" for="username">主辦姓名:</label>
                    <input type="text" id="username" name="fActivityName" value="" size="30">
                </div>
                <div class="st1">
                    <label class="t1" for="actname">活動名稱:</label>
                    <input type="text" id="actname" name="actname" value="" size="30">
                </div>
                <div class="st1">
                    <label for="fActivityLocation" class="t1">活動場所:</label>
                    <input type="text" id="fActivityLocation" name="fActivityLocation" size="30">
                </div>
                <div class="st1">
                    <label for="fActivitypeopleLimit" class="t1">人數限制:</label>
                    <input type="text" name="fActivitypeopleLimit" id="fActivitypeopleLimit" size="30" min="">
                </div>
                <div class="st1">
                    <label for="fActivityTime" class="t1">活動日期:</label>
                    <input type="date" name="fActivityTime" id="fActivityTime" size="30" min="">
                </div>
                <div class="st1">
                    <label for="fActivityPrice" class="t1">活動收費:</label>
                    <input type="text" name="fActivityPrice" id="fActivityPrice" size="30" min="">
                </div>
                <div class="st1">

                    <label for="actpic" class="t1">活動圖片:</label>
                    <input type="file" name="actpic" id="actpic" accept="image/jpg">
                </div>
                <div class="notice">
                    <h2>申請須知</h2>
                    <ul>
                        <li>需要兩位保證人</li>
                        <li>請附上活動企劃書</li>
                        <li>申請結果將以電子郵件告知</li>
                    </ul>
                </div>

                <div class="sub">
                    <div class="btn btn-warning activity_Index_bt fz15 mr5" onclick="formActivity()">送出</div>
                    <input type="reset" value="清除" class="btn btn-danger activity_Index_bt fz15 ml5">
                    <input style="display:none" type="submit" id="actlogin" value="送出" class="btn btn-warning activity_Index_bt fz15 ml5">
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script>


    //結帳
    //function Checkout() {
    //    var a = int[];

    //    $(".selectshopping").each(function () {
    //        a.push($(this).attr('id'));
    //    });
    //    return a;
    //    $.ajax({
    //        url: "/Activity/actaddcart",
    //        type: 'GET',
    //        data: { "id": a },
    //        success: function (data) {
    //            $("#addactcart").html(data);
    //        },
    //    })

    //}

    //活動詳細
    function actinside() {
        $("#Activity_test > .open").click(function () {
            var id = $(this).attr("id");          // equals：this.id
            $.ajax({
                url: "/Activity/actinside",
                type: 'GET',
                data: { "id": id },
                success: function (data) {

                    $("#activityinside").html(data);
                },
            });
        });
    }
    actinside();
    function actbtn() {
        $("#shine").css('right', 500);
        $("#shine").css('display', 'inline-block');
    }
    function exit() {

        $("#main").removeClass("show");
        $("#main").addClass("none");
    }
    function shine() {
        var classname = document.getElementsByClassName("show").length;

        if (classname == 0) {
            $("#main").removeClass("none");
            $("#main").addClass("show");
            $("#shine").css('right', 500);
        }
        else {

            $("#main").removeClass("show");
            $("#main").addClass("none");
            $("#shine").css('right', 0);
        }

    }
    //購物車
    function shoppingcartbtn() {
        $("#Activity_test > .actadd").click(function () {
            var id = $(this).attr("id");
            var aaa = $("#shoppingcartadd").html();
            $.ajax({
                url: "/Activity/actaddshoppingcart",
                type: 'GET',
                data: { "id": id },
                success: function (data) {
                    $("#shoppingcartadd").html(aaa + data);
                },
            })
        })

    };
    shoppingcartbtn();
    function delbtn(id) {//購物車取消
        $('button#' + id + '.delbtn').closest('tbody').remove();

        $('button#' + id + '.actadd').attr('disabled', false);
        $('button#' + id + '.actadd').html("參加");
        $('button#' + id + '.actadd').css('background-color', '#ffc107');
    }

    //參加按鈕
    $("#Activity_test > .actadd").click(function () {
        $(this).attr('disabled', 'disabled');
        $(this).html("已加入");
        $(this).css('background-color', '#E0E0E0');
    });
    function shoppingcartbtn() {
        $("#Activity_test > .actadd").click(function () {
            var id = $(this).attr("id");
            var aaa = $("#shoppingcartadd").html();
            $.ajax({
                url: "/Activity/actaddshoppingcart",
                type: 'GET',
                data: { "id": id },
                success: function (data) {
                    $("#shoppingcartadd").html(aaa + data);
                },
            })
        })

    };
</script>

